################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/obj/Release
/nuget
/Samples/Wibci.LogicCommand.Samples.NativeUWP/bin/x86/Debug
/Samples/Wibci.LogicCommand.Samples.NativeUWP/obj/x86
/bin/Release
/packages
/bin/Release
/Wibci.LogicCommand.Tests/bin
/Wibci.LogicCommand.Tests/obj
/.vs
/Wibci.LogicCommand/bin/Release
/Wibci.LogicCommand/obj
/Samples/Wibci.LogicCommand.Samples.NativeUWP/obj
