################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/obj/Release
/nuget
/Samples/Wibci.LogicCommand.Samples.NativeUWP/bin/x86/Debug
/Samples/Wibci.LogicCommand.Samples.NativeUWP/obj/x86
